[submodule "Source/ThirdParty/otm"]
	path = Source/ThirdParty/otm
	url = https://github.com/Othereum/otm.git
[submodule "Source/ThirdParty/omem"]
	path = Source/ThirdParty/omem
	url = https://github.com/Othereum/omem
